<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=aGf0sLjv7DOonc61fINdATGez2d3O8xB"></script>
		<style type="text/css">
			body,html {
				width: 100%;
				height: 100%;
				margin: 0;
				font-family: "微软雅黑";
			}
			#map_canvas {
				width: 100%;
				height: 600px;
			}
		</style>
	</head>
	<body>
		<div id="map_canvas"></div>
		
		<script>
			var map = new BMap.Map('map_canvas');
			map.enableScrollWheelZoom();
			
			/**采集到的GPS点**/
			var PointArr = {{point_list|safe}};
			var p = Math.ceil(PointArr.length / 2);
			map.centerAndZoom(new BMap.Point(PointArr[p].x, PointArr[p].y), 13);
			var driving;
			for(var i in PointArr){
				if(i == 0 ){
					addMarker(new BMap.Point(PointArr[i].x, PointArr[i].y),"起点");
					continue;
				}
				driving = new BMap.DrivingRoute(map, {renderOptions:{map: map, autoViewport: false}, 
		        onMarkersSet:function(routes) {
		            map.removeOverlay(routes[0].marker); //删除API自带起点
		            map.removeOverlay(routes[1].marker); //删除API自带终点
		        }});
		        driving.search(new BMap.Point(PointArr[i-1].x, PointArr[i-1].y), 
						new BMap.Point(PointArr[i].x, PointArr[i].y));
		        if(i == PointArr.length -1){
					addMarker(new BMap.Point(PointArr[i].x, PointArr[i].y),"终点");
		        }
			}
			/**
			 * 标记
			 * @param {Object} point
			 */
			function addMarker(point,name){
				var marker = new BMap.Marker(point);
				var label = new BMap.Label(name, {
					offset : new BMap.Size(20, -10)
				});
				marker.setLabel(label);
				map.addOverlay(marker);
			}
		</script>
	</body>
</html>